fastapi
uvicorn
chromadb
sentence-transformers
ollama
wikipedia-api
pydantic
beautifulsoup4
requests
PyPDF2
python-docx


# Streamlit (UI framework)
# ChromaDB (Vector storage)
# Sentence-Transformers (Efficient embeddings)
# Wikipedia-API (For Wikipedia search)
# BeautifulSoup4 (bs4) (For web scraping)
# PyMuPDF (pymupdf) (For extracting text from PDFs)
# Requests & TQDM (For handling HTTP requests & progress bars)
# Python-Dotenv (For environment variables)
# OpenAI (If using GPT models for response generation)


#uvicorn Backend.app:app --host 0.0.0.0 --port 8000 --reload